<template>
    <div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-form-label">Role Name</label>
                <input type="text" class="form-control"
                       :class="{ 'is-invalid': roleInput.errors.has('name') }" v-model="roleInput.name">
                <has-error :form="roleInput" field="name"></has-error>
            </div>
            <div class="form-group">
                <label class="col-form-label">Permissions</label>
                <b-form-select v-model="roleInput.permissions"  multiple :select-size="10" :class="{ 'is-invalid': roleInput.errors.has('permissions') }">
                    <b-form-select-option v-for="(permission,index) in all_permission" :value="permission.name" :key="index"


                    >{{permission.name}}</b-form-select-option>
                </b-form-select>
                <has-error :form="roleInput" field="permissions"></has-error>
            </div>

        </div>
    </div>

</template>

<script>
    import {Form, HasError, AlertError, AlertSuccess} from 'vform';
    import {mapActions, mapGetters} from "vuex";
    export default {
        name: "RoleForm",
        components: {HasError, AlertError, AlertSuccess},
        props:{
            form:{
                type:Object,
                required:true
            }
        },
        computed:{
            ...mapGetters({
                all_permission: ["permission/all_permission"],
            }),
            roleInput(){
                return this.form;
            }
        },
        created(){
          this.getAllPermission();
        },
        methods:{
            ...mapActions({getAllPermission: "permission/getPermissions"})
        }
    }
</script>

<style scoped>

</style>
