<template>
    <div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Edit</h4>
            </div>
            <form class="form-horizontal" v-promise-btn="{action: 'submit'}" v-on:submit.prevent="update"
                  @keydown="role.onKeydown($event)">
                <div class="card-body">
                    <RoleForm :form="role" ></RoleForm>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-success">Submit</button>
                    <button type="button" class="btn btn-fill btn-danger" @click="cancelEdit">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import RoleForm from './_Form'

    export default {
        name: "RoleEdit",
        components: {RoleForm},
        computed: {
            ...mapGetters({
                role: ["role/role"],
            }),

        },
        methods: {
            ...mapActions({ updateRole: "role/updateRole",
                getRole:"role/fetchRoleForDatatable"}),
            cancelEdit() {
                this.$emit("cancelEdit");
            },
            async update() {
                try{
                    await this.$store.commit('role/ROLE_UPDATE',this.role);
                    await this.updateRole();
                    await this.getRole();
                    this.$swal({
                        icon: 'success',
                        title: 'Role Updated',
                        showConfirmButton: false,
                        timer: 1500
                    });

                }catch(e){
                    console.log(e);
                }


            }
        }
    }
</script>

<style scoped>

</style>
