<template>
    <transition name="fade" appear>
    <div class="modal fade show" id="likeModal" tabindex="-1" role="dialog" aria-labelledby="likeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="likeModalLabel" style="text-transform: uppercase;"><b>My Like Pokemon</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4" v-for="(data,index) in likeArr" :key="data.id" :index="index">
                            <div class="card">
                                <div class="card-header card-header-primary pokemon_name">
                                    {{ data.name }}
                                </div>
                                <div class="card-body">
                                    <img class="card-img-top" :src="data.images" alt="Card image cap">
                                    <br>
                                    <div class="d-flex justify-content-center mt-2">
                                        <button type="submit" class="btn btn-danger"
                                                @click="removeLike(data)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-2" v-if="likeArr.length === 0">
                        <p>No data available</p>
                    </div>
                </div>
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    </transition>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
export default {
    name: "LikePokemonModal",
    props: {
        likeArr: null,
    },
    components: {
    },
    computed: {
        ...mapGetters({
            isLogin: ["auth/check"],
            user: ["auth/user"],
            all_pokemon: ["pokemon/pokemon"],
        })
    },
    data() {
        return {
        }
    },
    created() {
    },
    methods: {
         removeLike(data,index){
            axios.delete(`/api/pokemon/${data.id}/remove-status?like=true`)
                .then(response => {
                    this.$parent.syncPokemon(true);
                    this.$swal(
                        'Removed!',
                        'Your like Pokemon has been removed.',
                        'success'
                    );
                    // this.likeArr.splice(index, 1);
            });
        }
    }
}
</script>
<style scoped>
</style>
