<template>
    <transition name="fade" appear>
        <div class="modal fade show" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="userListModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userListModalLabel" style="text-transform: uppercase;"><b>List of other users liked and hated Pokemon</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center" style="color: white;
                                background-color: #9124a3;">Name</th>
                                <th colspan="2" class="text-center" style="color: white;
                                background-color: #9124a3;">Pokemon</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="color: white;
                                background-color: #47a44b;">Likes</th>
                                <th class="text-center" style="color: white;
                                background-color: #f33527;">Dislikes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(userList,index) in dataUserListPokemon" :key="userList.id" :index="index">
                                <td>{{ userList.name }}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-5" v-for="(like,index) in userList.like" :key="like.id" :index="index">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img class="card-img-top" :src="like.images" alt="Card image cap">
                                                    <br>
                                                    <span class="badge badge-success">{{ like.name }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-5" v-for="(dislike,index) in userList.dislike" :key="dislike.id" :index="index">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img class="card-img-top" :src="dislike.images" alt="Card image cap">
                                                    <br>
                                                    <span class="badge badge-pill badge-danger">{{ dislike.name }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="py-2" v-if="dataUserListPokemon.length === 0">
                            <p>No data available</p>
                        </div>
                    </div>
                    <!--                <div class="modal-footer">-->
                    <!--                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                    <!--                </div>-->
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
export default {
    name: "LikePokemonModal",
    props: {
        dataUserListPokemon: null,
    },
    components: {
    },
    computed: {
        ...mapGetters({
            isLogin: ["auth/check"],
            user: ["auth/user"],
            all_pokemon: ["pokemon/pokemon"],
        })
    },
    data() {
        return {
        }
    },
    created() {
    },
    methods: {
    }
}
</script>
<style scoped>
</style>
