<template>
    <div class="container-fluid">
        <div>
            <img src="/images/pokemon-logo.jpg" alt="Pokemon" class="pokemon_title">
        </div>
        <div class="alert alert-default mt-4">
            <ul>
                <li><b>You can like up to 3 Pokemon</b></li>
                <li><b>You can dislike up to 3 Pokemon</b></li>
            </ul>
        </div>
        <div class="row py-4">
            <div class="col-md-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                  <span class="input-group-text">
                     <i class="material-icons">search</i>
                  </span>
                    </div>
                    <input type="text" class="form-control" @keyup.enter="searchPokemon" v-model="isSearch"
                           placeholder="Search and enter Pokemon here...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <button  class="btn btn-fill btn-blue" data-toggle="modal" data-target="#userListModal"
                                 @click="openUserListModal">List of other users liked and hated Pokemon
                        </button>
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-5">
                        <button  class="btn btn-fill btn-success" data-toggle="modal" data-target="#likeModal"
                                 @click="openLikeModal">My Like Pokemon
                        </button>
                    </div>
                    <div class="col-md-5">
                        <button  class="btn btn-fill btn-danger" data-toggle="modal" data-target="#dislikeModal"
                                 @click="openDislikeModal">My Dislike Pokemon
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" v-for="(data,index) in all_pokemon" :key="data.id">
                <div class="card">
                    <div class="card-header card-header-primary pokemon_name">
                        {{ data.name }}
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" :src="data.images" alt="Card image cap">
                        <label class="mt-3"><b>About this Pokemon:</b></label>
                        <br>
                        <label>{{ data.description }}</label>
                        <div class="d-flex justify-content-center mt-2" v-if="showReactionBtn">
                            <button class="btn btn-success btn-round btn-fab"  :disabled="isReactionBtn"
                                    @click="likePokemon(data)" type="submit" v-promise-btn>
                                <i class="material-icons">thumb_up</i>
                            </button>
                            <button class="btn btn-danger btn-round btn-fab"  :disabled="isReactionBtn"
                                    @click="dislikePokemon(data)" type="submit" v-promise-btn>
                                <i class="material-icons">thumb_down</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-danger" v-if="all_pokemon.length === 0">
            <b>No Pokemon found</b>
        </div>
        <div class="d-flex justify-content-center" v-if="all_pokemon.length > 0">
            <button type="submit" class="btn btn-fill btn-info"
                    v-promise-btn @click="load">LOAD MORE
            </button>
        </div>
        <like-pokemon-modal v-if="likePokemonModal" :likeArr="this.likes"></like-pokemon-modal>
        <dislike-pokemon-modal v-if="dislikePokemonModal" :dislikeArr="this.dislikes"></dislike-pokemon-modal>
        <user-list-pokemon-modal v-if="userListPokemonModal" :dataUserListPokemon="this.userList"></user-list-pokemon-modal>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import LikePokemonModal from "./modals/LikePokemonModal";
import DislikePokemonModal from "./modals/DislikePokemonModal";
import UserListPokemonModal from "./modals/UserListPokemonModal";

export default {
    name: "Home",
    components: {
        LikePokemonModal,
        DislikePokemonModal,
        UserListPokemonModal
    },
    data() {
        return {
            likePokemonModal: false,dislikePokemonModal:false,userListPokemonModal:false,

            isSearch: '',
            likes: [],
            dislikes:[],
            userList: [],
            checkLikes:[],checkDislikes:[],
            showReactionBtn:false,
            isReactionBtn: false,
            isOffset: 0,
            reactionData: [],
        }
    },
    computed: {
        ...mapGetters({
            isLogin: ["auth/check"],
            user: ["auth/user"],
            all_pokemon: ["pokemon/pokemon"],
            offset: ["pokemon/offset"],
            like_pokemon: ["pokemon/like_pokemon"],
            dislike_pokemon: ["pokemon/dislike_pokemon"],
            err: ["pokemon/err"],
        })
    },
    watch: {
        'user': function (val, oldVal) {
            if(val['id'] || oldVal['id']){
                this.getStatus();
                this.getUserListPokemon();
            } else {
                this.getStatus();
            }
        },

        "err": {
            deep: true,
            handler: function (val) {
                console.log('JAY ERROR',val);
                this.getPokemon();
                this.getStatus();
                this.getUserListPokemon();
            }
        },
        deep:true,
    },

    created() {
        this.removeQuerySelector();
        this.getPokemon();
        if(this.currentUser){
            this.getStatus();
            this.getUserListPokemon();
        }
    },
    methods: {
        ...mapActions({
            getPokemon: "pokemon/fetchPokemonForDatatable",
            loadPokemon: "pokemon/loadThisPokemon",
            getSearchPokemon: "pokemon/searchPokemon",
        }),
        removeQuerySelector(){
            document.querySelector('body')
                .style =
                '    background-image: none !important;\n'
            ;

        },
        openUserListModal(){
            this.userListPokemonModal = true;
            this.likePokemonModal = false;
            this.dislikePokemonModal = false;
        },
        openLikeModal(){
            this.likePokemonModal = true;
            this.dislikePokemonModal = false;
            this.userListPokemonModal = false;
        },
        openDislikeModal(){
            this.userListPokemonModal = false;
            this.likePokemonModal = false;
            this.dislikePokemonModal = true;
        },
        async load() {
            await this.$store.commit('pokemon/POKEMON_LOAD', this.offset += 12);
            await this.loadPokemon();
        },
        async getUserListPokemon(){
            await axios.get(`/api/pokemon/${this.user.id}/user-list`)
                .then((response) => {
                    console.log('JAY getUserListPokemon',response);
                    this.userList = response.data;
                }).catch((error) => {
                    this.$store.commit('pokemon/POKEMON_THROW_ERR', error);
            });
        },
        async getStatus(){
            await axios.get(`/api/pokemon/${this.user.id}/status-all`)
                .then((response) => {
                    if(response.data){
                        this.likes = response.data.pokemon_like;
                        this.dislikes = response.data.pokemon_dislike;

                        // this.checkLikes = this.likes;
                        // this.checkDislikes = this.dislikes;

                        this.showReactionBtn = true;
                    }
                }).catch((error) => {
                    this.$store.commit('pokemon/POKEMON_THROW_ERR', error);
            });
        },
        syncPokemon($x = false){
            if($x) {
                this.getStatus();
            }
        },
       async likePokemon(data){
           this.checkLikes.push({
               id:data.id
           });
            if(this.checkLikes.length <= 3 && this.checkLikes.length !== 4){
                let likes = {
                    like_id: data.id
                };
                await axios.post(`/api/pokemon/${this.user.id}/status/like`, likes)
                    .then((response) => {
                        this.getStatus();
                        this.$swal({
                            icon: 'success',
                            title: `You like &nbsp<p style="color: green; text-transform: uppercase;">${data.name}</p>`,
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }).catch((error) => {
                });
            } else {
                this.$swal({
                    icon: 'info',
                    title: `You already liked 3 Pokemon`,
                    showConfirmButton: false,
                    timer: 2500
                });
            }
        },
        dislikePokemon(data){
            this.checkDislikes.push({
                id:data.id
            });
            if(this.checkDislikes.length <= 3 && this.checkDislikes.length !== 4){
                let dislikes = {
                    dislike_id: data.id
                };
                axios.post(`/api/pokemon/${this.user.id}/status/dislike`, dislikes)
                    .then((response) => {
                        this.getStatus();
                        this.$swal({
                            icon: 'success',
                            title: `You dislike &nbsp<p style="color: red; text-transform: uppercase;">${data.name}</p>`,
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }).catch((error) => {
                });
            } else {
                this.$swal({
                    icon: 'info',
                    title: `You already disliked 3 Pokemon`,
                    showConfirmButton: false,
                    timer: 2500
                });
            }
        },
        async searchPokemon() {
            await this.$store.commit('pokemon/POKEMON_SEARCH', this.isSearch);
            await this.getSearchPokemon();
        },
    }
}
</script>

<style scoped>
.alert, .alert-default {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
} .alert-danger {
      color: #fff;
      background-color: #f55145;
      border-color: #c3e6cb;
  }
.pokemon_title {
    height: 200px;
    width: 100%;
}

.pokemon_name {
    text-transform: uppercase;
}

.btn-blue {
    background-color: #1769FF;
}
</style>
